{% extends "show/base.html.twig" %}
{% block pageHeading %}
    Create user
{% endblock %}

{% block content %}
    {{ form(userForm) }}
    <button type="submit" class="btn btn-primary">Créer</button>
{% endblock %}